* {
	margin: 0;
	padding: 0;
	<--outline: 1px solid orange;--!>
}

body {
	background: #262626;
	color: #d4d4d4;
	font-size: 14px;
	font-family: Verdana;
}

.sait {
	width: 1280px;
	margin: 0 auto;
}

header {
	padding: 55px 160px 120px 160px;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

nav ul li {
	margin-right: 30px;
}

.logo {
	margin-right: 70px;
	width: 60px;
	height: 60px;
}

.mail {
	width: 17px;
	height: 12px;
	margin-right: 25px;
	margin-left: 0;
}

.phone {
	width: 17px;
	height: 17px;
	margin: 0;
}

nav {
	display: flex;
	justify-content: space-between;
}

a {
	color: #d4d4d4;
	text-decoration: none;
	font-size: 14px;
	font-family: Verdana;
}

a:hover {
	color: #ffffff;
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 36px;
}

.left {
	margin-left: 130px;
}

.left h1 {
	margin-bottom: 60px;
}

.left p {
	margin-bottom: 60px;
}

.right {
	width: 438px;
	height: 437px;
	margin-left: 85px;
}

h1 {
	color: #ffffff;
	font-family: "Courier New";
	font-size: 45px;
}

.button {
	width: 240px;
	height: 50px;
	background-color: #ffcb06;
	border: 0px solid #ffcb06;
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
	padding: 15px 25px;
}

.button:hover {
	background-color: #d4d4d4;
	color: #ffffff;
}

.arrow {
	width: 19px;
	height: 16px;
}

.advantages {
	background: #131313;
	padding: 80px 160px;
	display: flex;
	justify-content: space-between;
}

.advantages p {
	margin-top: 35px;
}

.icon {
	width: 60px;
	height: 65px;
}

.content {
	padding: 80px 160px;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
}

.content h1 {
	color: #131313;
	font-family: "Courier New";
	font-size: 24px;
}

.content p {
	color: #222222;
	font-family: Verdana;
	font-size: 14px;
	margin-bottom: 23px;
}

.content ul {
	color: #131313;
	font-family: Verdana;
	font-size: 14px;
}

.var {
	margin-bottom: 60px;
}

.content ul li {
	margin-bottom: 30px;
}


.var1 {
	margin: 0;
	margin-top: 80px;
	margin-bottom: 35px;
}

.content span span {
	font-weight: bold;
}

.content span {
	color: #131313;
}

.content li {
	color: #ffdb06;
	margin-left: 20px;
}

.form {
	padding: 80px 160px;
	background: #f0f0f0;
	display: flex;
	justify-content: space-between;
}

.form h1 {
	color: #131313;
	font-family: "Courier New";
	font-size: 24px;
	margin-bottom: 50px;
}

.form p {
	color: #222222;
	font-family: Sans-serif;
	font-size: 14px;
}

input {
	color:#222222;
	font-size: 14px;
	font-family: Sans-serif;
	padding: 15px;
	margin-bottom: 10px;
	background: #ffffff;
	border: none;
}

.inp {
	width: 400px;
}

.inp1 {
	width: 192px;
}

.inp2 {
	margin-right: 10px;
}

.form span {
	font-size: 13px;
	font-family: Sans-serif;
	color: #222222;
	margin-left: 15px;
}

.button1 {
	width: 215px;
	height: 50px;
	background-color: #222222;
	border: 0px solid #222222;
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
	padding: 15px 25px;
	margin-top: 35px;
}

.button1 span{
	color: #ffffff;
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
}

.button1:hover {
	background-color: #cccccc;
	color: #222222;
}

.urfly {
	color: #feca30;
}

.table h1 {
	color: #feca30;
	font-size: 24px;
	font-family: "Courier New";
}

.table div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 85px;
}

.table p{
	font-size: 13px;
	font-family: Verdana;
}

.table {
	background-color: #222222;
	padding: 80px 160px;
}

.table table {
	font-size: 14px;
	font-family: Verdana;
	width: 960px;
	margin-bottom:85px;
}

.table-head {
	background-color: #111111;
	height: 50px;
	border-bottom: 1px solid #555555;
	width: 240px;
	padding-left: 19px;
}

.table td {
	height: 50px;
	border-bottom: 1px solid #555555;
	width: 240px;
	padding-left: 19px;
}

footer {
	background-color: #131313;
	padding-left: 160px;
	padding-right: 160px;
}

.logo1 {
	margin-right: 15px;
	margin-top: 60px;
}

.company {
	margin-top: 85px;
	font-family: Verdana;
	font-size: 14px;
	color: #d4d4d4;
	margin-right": 50px
}

footer h1 {
	font-family: Verdana;
	font-size: 14px;
	color: #ffffff;
}

footer div {
	display: flex;
	flex-direction: row;
}

.div1 {
	margin-left: 80px;
	margin-top: 90px;
	padding: 0px 85px 20px 0px;
	border-bottom: 1px solid #555555;
}

.div2 {
	margin-left: 80px;
	margin-top: 90px;
	padding: 0px 105px 20px 0px;
	border-bottom: 1px solid #555555;
}

footer ul {
	margin-top: 60px;
	font-family: Verdana;
	list-style-type: none;
}

.footer div-ul {
	display: flex;
	flex-direction: row;
}

.div-ul li {
	margin-bottom: 29px;
	color: #888888;
}

.ul1 {
	font-size: 13px;
	margin-left: 56px;
	margin-right: 181px;
}

.ul2 {
	font-size: 13px;
}

.ul3 {
	font-size: 14px;
	margin-left: 154px;
}

.org {
	font-family: Verdana;
	font-size: 13px;
	color: #555555;
	padding-bottom: 85px;
	margin-top: 142px;
}